body {
  box-sizing: border-box;
}

#content {
  background-image: url("./img/umbrella-background.jpg");
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  align-items: center;

  position: relative;
  isolation: isolate;
}

#content::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: black;
  opacity: 0.6;
}

.header {
  grid-row: 1;
}

.header h1 {
  text-align: center;
}

.search-bar {
  grid-row: 2;
}

.search-bar form {
  display: flex;
  justify-content: center;
}

.search-bar input {
  flex: 1;
}

.search-bar svg {
  fill: black;
  width: 20px;
}

.main-content {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.weather-container {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.temperature-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.weather-container svg {
  height: 150px;
}

.location-container {
  grid-column: 2;
}
